.modalBg {
  display: none;
  justify-content: center;
  background-color: rgba(0, 0, 0, .6);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;

  width: 100vw;
  height: 100vh;
}

.modal {
  background-color: var(--dark-primary);
  border: solid var(--light);
  margin-top: 96px;
  padding: 24px 16px;
  border-radius: 10px;
  height: 380px;
  width: 440px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  animation: modalAppear 0.5s ease-out;
}

.cancelButton {
  background-color: var(--dark-primary);
  border-color: var(--primary);
  color: var(--primary);
}

.cancelButton:hover {
  background-color: var(--dark-primary);
  color: var(--light);
  transition: color ease-in-out .2s;
  box-shadow: 0 0 5px var(--primary);
}

.cancelButton:active {
  background-color: rgba(var(--primary-rgb), 0.8);
  color: var(--light);
}

.modalBg.active {
  display: flex;
}

.modal h1 {
  text-align: center;
}

.input {
  width: 100%;
  margin-top: 24px;
}

.button {
  width: 100%;
}


.invalid-feedback {
  display: none;
}

.was-validated .input:invalid~.invalid-feedback {
  display: block;
  color: #dc3545;
}

.was-validated .input:invalid {
  border-color: #dc3545;
}


@keyframes modalAppear {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}